<app-home></app-home>
<h3 class="mt-5 mb-3">Reservation List</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Guest</th>
      <th>Email</th>
      <th>Room no</th>
      <th>Check-In</th>
      <th>Check-Out</th>
    </tr>
  </thead>
  <tbody *ngIf="reservations.length > 0; else noReservation">
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.guestName }}</td>
      <td>{{ reservation.guestEmail }}</td>
      <td>{{ reservation.roomNumber }}</td>
      <td>{{ reservation.checkInDate }}</td>
      <td>{{ reservation.checkOutDate }}</td>
      <td>
        <button
          class="btn btn-danger btn-sm mx-2"
          (click)="deleteReservation(reservation.id)"
        >
          Delete
        </button>
        <button
          class="btn btn-secondary btn-sm mx-2"
          [routerLink]="['/edit', reservation.id]"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noReservation> No Reservation available. </ng-template>
